.modal-content {
  padding: 20px;
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Set maximum width */
  margin: auto;
  border: 2px solid #B81D33;
  border-radius: 8px;
  max-height:40rem;
  /* overflow: auto; */

  max-height: 90vh;  /* 90% of the viewport height */
  min-height: 300px; /* Minimum height */
  overflow-y: auto;  /* Enables vertical scrolling */
}

.input-field {
  margin-bottom: 10px;
}

.modal-title {
  color: #B81D33;
  text-align: center;
  margin-bottom: 20px;
}

.recipe-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}

.recipe-carousel{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}