.logo {
    display: flex;
    justify-content: center; /* Center horizontally */
  }

  .greeting{
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: 20px;
    font-weight: bold;
  }