.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.logo img {
  max-width: 100px; /* Adjust the size as needed */
  height: auto;
}

.register-link {
  color: #B81D33;
  font-weight: bold;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
  color: #a00b28; /* Darken the color slightly on hover */
}
